mixin stepbuild(vars)
  +b.stepbuild.section
    +e.inner.inner
      +e.H2.title.title Этапы строительства
      +e.list
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s1.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s2.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s3.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s4.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s5.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/s6.jpg' alt='')
          +e.info
            +e.P.caption Этап 1.
            +e.P.text Установка фундамента. Тип фундамента выбирается в зависимости от строения и почвы