.partners
  background: $c4
  &__inner
    display: flex
    align-items: center
  &__title
    +fs(36px)
    font-weight: 700
    color: $c2
    margin-right: 6rem
  .swiper-next
    width: 16px
    height: 28px
    background-image: url(../icon/icon-arrow-white.png)
    background-repeat: no-repeat
    background-position: center
    bottom: 33%
    right: 0
    position: absolute
    z-index: 99
    cursor: pointer