.hit
  background: $c4
  &__list
    display: grid
    grid-template-columns: repeat(3, 31.5%)
    grid-gap: 30px
  &__item
    border: 6px solid rgba(255,255,255,0.6)
    box-sizing: border-box
    transition: .5s ease
    &:hover
      box-shadow: 0px 15px 50px 0px rgb(54 38 9 / 20%)
  &__picture
    position: relative
    height: 285px
  &__state
    position: absolute
    background-color: #e91e26
    width: 50px
    height: 50px
    border-radius: 100%
    font-weight: 700
    text-transform: uppercase
    color: #fff
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    top: -10px
    left: -10px
  &__caption
    position: absolute
    bottom: 0
    width: 100%
    padding: 20px
    background: rgba(#232529, .7)
    box-sizing: border-box
    +fs(25px)
    color: #fff
    text-shadow: 0 0 10px rgba(5, 0, 2, 0.6)
    font-weight: 700
  &__info
    background: #fff
  &__square
    padding: 20px
    border-bottom: 1px solid $c4
  &__bottom
    display: flex
    justify-content: space-between
    padding: 10px 10px 10px 20px
    align-items: center
  &__price
    font-weight: 700
    color: $c3
    +fs(25px)
  &__pic
    width: 100%
    height: 100%
    vertical-align: middle
    object-fit: cover
  &__all
    border-radius: 3px
    background-color: $c3
    width: 385px
    text-align: center
    color: #fff
    +fs(20px)
    font-weight: 700
    padding: 2rem
    display: block
    margin: 5rem auto 0