mixin hit(vars)
  +b.hit.section
    +e.inner.inner
      +e.H2.title.title Хиты продаж
      +e.list
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-1.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-2.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-1.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-2.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-1.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
        +e.item
          +e.picture
            +e.state хит
            +e.IMG.pic(src='/images/hit-2.png' alt='')
            +e.P.caption Каркасная баня 2х4
          +e.info
            +e.P.square Площадь:
              b 8 м2
            +e.bottom
              +e.P.price 192 000 Р
              +e.A.more.btn(href="#") подробнее
      +e.A.all(href="#") Смотреть все хиты