include ../static/pug/global
<!DOCTYPE html>
html
  +head('Главная')
  body.index
    +header()
    +banner()
    +catalog()
    +hit()
    +stepwork()
    +stepbuild()
    +about()
    +review()
    +partners()
    +footer()
    include ../static/pug/_scripts