include ../static/pug/global
<!DOCTYPE html>
html
  +head('Каталог проектов')
  body.index
    +header()
    +b.content
      +e.head
      +e.inner.inner
        +b.breadcrumb(itemscope="" itemtype="http://schema.org/BreadcrumbList")
          each link, index in ['Главная', 'Продукция']
            if link == 'Продукция'
              +e.SPAN.active(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
                +e.SPAN.text(itemprop='item', title=link , href="#")
                  +e.SPAN(itemprop='name')=link
                  meta(itemprop='position', content=index)
            else
              +e.SPAN.link(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
                +e.A.text(itemprop='item', title=link , href="#")
                  +e.SPAN(itemprop='name')=link
                  meta(itemprop='position', content=index)
        +e.box
          +e.H1.title Дом из рубленного бревна 152 м2 (вторая строка названия товара)
          +b.product
            +e.head
              +e.info
                +e.list
                  ul
                    li Количество этажей - 
                      strong 2`
                    li Общая площадь - 
                      strong 158.00 м2
                    li Жилая площадь - 
                      strong 123.80 м2
                    li Высота дома - 
                      strong 8.70 м
                    li Высота потолка - 
                      strong 2.60 м
                    li Угол наклона кровли - 
                      strong 45 °
                +e.char
                  +e.char-item
                    +e.char-head
                      +e.P.char-numb 4
                      +e.IMG.char-pic(src='/icon/icon-room.png' alt='')
                    +e.P.char-txt комнаты
                  +e.char-item
                    +e.char-head
                      +e.P.char-numb 1
                      +e.IMG.char-pic(src='/icon/icon-badroom.png' alt='')
                    +e.P.char-txt санузел
                  +e.char-item
                    +e.char-head
                      +e.P.char-numb 1
                      +e.IMG.char-pic(src='/icon/icon-balcon.png' alt='')
                    +e.P.char-txt балкон
                  +e.char-item
                    +e.char-head
                      +e.P.char-numb 1
                      +e.IMG.char-pic(src='/icon/icon-terrs.png' alt='')
                    +e.P.char-txt терасса
                +e.nav-slider
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
                  +e.A.nav-btn(href='/images/product.png' data-fancybox)
                    +e.IMG.thumb(src='/images/product.png' alt='')
              +e.slider.swiper-container
                .swiper-wrapper
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                  +e.slide.swiper-slide
                    +e.IMG.pic(src='/images/product.png' alt='')
                +e.swiper-btn_prev
                +e.swiper-btn_next
            +e.middle
              +e.price
                +e.P.label Стоимость от:
                +e.P.cost 1 068 008 руб.
              +e.btns
                +e.A.btn_outline Получить консультацию
                +e.BUTTON.btn.js-open-call Скачать смету
            +e.bottom
              +e.tabs
                +e.tab.active Описание
                +e.tab Характеристики
              +e.box(display="block")
                +e.content
                  +e.table
                    table.table-header(style='width: 99.5672%; height: 100px;')
                      tbody
                        tr(style='height: 50px;')
                          td(style='width: 34.7942%; height: 50px;')
                            p
                              strong «Стандарт»
                          td(style='width: 31.3099%; height: 50px;')
                            p
                              strong «Комфорт»
                          td(style='width: 32.8125%; height: 50px;')
                            p
                              strong «Престиж»
                        tr(style='height: 50px;')
                          td(style='width: 34.7942%; height: 50px;')
                            p
                              strong 2945000р.
                          td(style='width: 31.3099%; height: 50px;')
                            p
                              strong р.
                          td(style='width: 32.8125%; height: 50px;')
                            p
                              strong р.
                    p
                    table(style='width: 99.8387%;')
                      tbody
                        tr
                          td(style='width: 34.9892%;')
                            +b.table-cell
                              +e.title Столбчатый из блоков
                              +e.info
                                +e.IMG.pic(src='/images/about-7.png' alt='')
                                +e.content
                                  ul
                                    li 6 точек опоры;
                                    li блок 200х200х400 мм;
                                    li 2 блока в опоре
                                  +e.price 3600 руб.
                          td(style='width: 31.3183%;')
                            +b.table-cell
                              +e.title Столбчатый из блоков
                              +e.info
                                +e.IMG.pic(src='/images/about-7.png' alt='')
                                +e.content
                                  ul
                                    li 6 точек опоры;
                                    li блок 200х200х400 мм;
                                    li 2 блока в опоре
                                  +e.price 3600 руб.
                          td(style='width: 32.8848%;')
                            +b.table-cell
                              +e.title Столбчатый из блоков
                              +e.info
                                +e.IMG.pic(src='/images/about-7.png' alt='')
                                +e.content
                                  ul
                                    li 6 точек опоры;
                                    li блок 200х200х400 мм;
                                    li 2 блока в опоре
                                  +e.price 3600 руб.
              +e.box
                +e.content
    +b.product-sale
      +e.inner.inner
        +e.item
          +e.IMG.pic(src='/images/vnt-1.png' alt='')
          +e.content
            +e.P.title Аренда бытовки
              br
              | в подарок
            +e.A.btn.js-open-modal(href="#success") Узнать больше о подарках
        +e.item
          +e.IMG.pic(src='/images/vnt-2.png' alt='')
          +e.content
            +e.P.title Кухня в подарок
            +e.P.text Мы позаботились о самом
              br
              | важном месте в вашем доме
            +e.A.btn.js-open-modal(href="#callback") Узнать больше о подарках
        +e.item
          +e.IMG.pic(src='/images/vnt-3.png' alt='')
          +e.content
            +e.P.title Доставка на объект
              br
              | в подарок
            +e.A.btn.js-open-modal(href="#callback") Узнать больше о подарках
    +b.product-vnt
      +e.inner.inner
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-skills-1.png' alt='')
          +e.P.caption Еженедельная отчетность
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-skills-2.png' alt='')
          +e.P.caption Собственное производство
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-skills-3.png' alt='')
          +e.P.caption Срок и смета по договору
    +b.product-call
      +e.inner.inner
        +e.box
          +e.content
            +e.P.sign Хотите другую планировку?
            +e.P.title Мы бесплатно изменим её,
            +e.P.sign согласно Вашим пожеланиям
            +e.list
              +e.item
                b Передвинем 
                | стены
              +e.item
                b Поменяем 
                | высоту окон
              +e.item
                b Сменим 
                | дверь
              +e.item
                b Добавим 
                | больше комнат
              +e.item
                b Сделаем 
                | веранду
              +e.item
                b И многое другое
            +e.cnt
              +e.P.txt Получите подробную бесплатную консультацию от нашего технического директора
              +e.A.btn Обсудить планировку
    +stepwork()
    +stepbuild()
    +about()
    +review()
    +partners()
    +footer()
    +b.calc-modal
      +e.box
        +e.head
          +e.P.title Дом из рубленного бревна 152 м2
          +e.close
            +e.IMG.close-pic(src='/icon/icon-calc-close.png' alt='')
        +e.contain
          +e.picture
            +e.IMG.pic(src="/images/product.png")
          +e.FORM.calc
            +e.row
              +e.name Комплектация
              +e.checks
                +e.LABEL.check.active(data-title="Базовая")
                  +e.INPUT.hidden(type="radio" name="Комплектация" value="Базовая" data-value="364000" checked)
                  +e.text 364 000 ₽
                    span 420 000 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Оптимальная")
                  +e.INPUT.hidden(type="radio" name="Комплектация" value="Оптимальная" data-value="520000")
                  +e.text 520 000 ₽
                    span 520 000 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Премиум")
                  +e.INPUT.hidden(type="radio" name="Комплектация" value="Премиум" data-value="900000")
                  +e.text 900 000 ₽
                    span 1 200 000 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
            +e.row
              +e.name Фундамент
              +e.checks
                +e.LABEL.check(data-title="Дополнительный ряд блоков")
                  +e.INPUT.hidden(type="radio" name="Фундамент" value="Дополнительный ряд блоков" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Винтовые сваи")
                  +e.INPUT.hidden(type="radio" name="Фундамент" value="Винтовые сваи" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Монолитно-ростверковый")
                  +e.INPUT.hidden(type="radio" name="Фундамент" value="Монолитно-ростверковый" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
            +e.row
              +e.name Инженерные сети
              +e.checks
                +e.LABEL.check(data-title="Вентиляция «Весту»")
                  +e.INPUT.hidden(type="checkbox" name="Инженерные сети" value="Вентиляция «Весту»" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Септик «Лайт»")
                  +e.INPUT.hidden(type="checkbox" name="Инженерные сети" value="Септик «Лайт»" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
                +e.LABEL.check(data-title="Электрика")
                  +e.INPUT.hidden(type="checkbox" name="Инженерные сети" value="Электрика" data-value="22113")
                  +e.text +22 113 ₽
                  +e.hidden-pic
                    +e.IMG.i(src='/images/about-4.png' alt='')
            +e.price
              +e.price-txt Итого:
              +e.price-numb
                span 364 000
                | руб.
            +b.calc-form
              +e.box
                +e.P.title Оставить заявку
                +e.row
                  input(type="hidden" name="Тип")
                  +b.INPUT.field(type="text" name="Имя" placeholder="Ваше имя")
                  +b.INPUT.field(type="email" name="cnt" placeholder="Ваш email")
                  +e.BUTTON.submit Отправить
                +e.sign
                  +e.LABEL.check
                    +e.INPUT.hidden(type="checkbox" checked)
                    +e.SPAN.txt
                      i
                      | Нажимая на кнопку, я даю свое согласие на обработку
                      a(href="[[~171]]")  персональных данных
            +e.control
              +e.btn_outline.js-open-calc-form(data-call='smeta') Сохранить смету
              +e.btn.js-open-calc-form(data-call='call') Оставить заявку
    include ../static/pug/_scripts