mixin stepwork(vars)
  +b.stepwork.section
    +e.inner.inner
      +e.H2.title.title Этапы работы
      +e.list
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-1.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-2.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-3.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-4.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-5.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок
        +e.item
          +e.picture
            +e.IMG.pic(src='/icon/icon-vnt-6.png' alt='')
          +e.P.caption
            b 1. 
            |Выбираем участок