mixin review(vars)
  +b.review.section
    +e.inner.inner
      +e.H2.title.title Отзывы
      +e.list
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/review-1.png' alt='')
          +e.info
            +e.text Рекомендую компанию «Карасев Строй НН», строят профессионально, быстро и качественно (заказывал строительство каркасной бани).
            +e.P.name Станислав Васильев
        +e.item_reverse
          +e.picture_reverse
            +e.IMG.pic(src='/images/review-2.png' alt='')
          +e.info
            +e.text Выражаем благодарность за баню! Плотники компании «Карасев Строй НН» за две недели построили нам баню под ключ. На участке порядок и все чисто, оперативное решение всех возникших дополнительных вопросов и пожеланий.
            +e.P.name Людмила Морозова
        +e.item
          +e.picture
            +e.IMG.pic(src='/images/review-3.png' alt='')
          +e.info
            +e.text 25 ноября закончилось строительство моей бани. Баня получилась шикарная! Строители молодцы, со знаем дела всё сделали. Давно мечтал о бане и моя мечта сбылась!
            +e.P.name Артем Лукьянов
      +e.A.more(href="#") Читать все отзывы