mixin about(vars)
  +b.about.section
    +e.inner.inner
      +e.H2.title.title Строительная компания «Карасёв Строй НН»
      +e.P.subtitle Это профессионализм, огромный опыт и хороший подход
      +e.text
        p Карасев Строй - компания, которая работает в сфере строительства уже 20 лет. За это время мы построили большое количество разных проектов по каркасной технологии. Большая часть проектов домов находится в нашем каталоге на сайте.
        p Мы коллектив молодых профессионалов, которые любят свое дело. Мы творим добро для других людей. Соединяем в себе четкое, современное видение архитектуры и практичность. Благодаря этому получаются чудесные проекты, которые радуют наших клиентов.
        p Наша компания - Карасев Строй готова реализовать ваши мечты и построить дом, в котором будет приятно находится. Обращайтесь к нам, будем рады вам помочь!
  +b.about-picture
    +e.col_tpl-1
      +e.box_tpl-1
        +e.A.gl(href="/images/about-1.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-1.png' alt='')
      +e.box_tpl-2
        +e.A.gl(href="/images/about-2.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-2.png' alt='')
      +e.box_tpl-2
        +e.A.gl(href="/images/about-3.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-3.png' alt='')
    +e.col_tpl-1
      +e.box_tpl-2
        +e.A.gl(href="/images/about-4.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-4.png' alt='')
      +e.box_tpl-2
        +e.text  Собственная спецтехника
      +e.box_tpl-1
        +e.A.gl(href="/images/about-5.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-5.png' alt='')
    +e.col_tpl-2
      +e.box_tpl-1
        +e.A.gl(href="/images/about-6.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-6.png' alt='')
      +e.box_tpl-1
        +e.text Крупнейший складской резерв пиломатериала 
      +e.box_tpl-1
        +e.A.gl(href="/images/about-7.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-7.png' alt='')
    +e.col_tpl-2
      +e.box_tpl-3
        +e.A.gl(href="/images/about-8.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-8.png' alt='')
      +e.box_tpl-1
        +e.text
          p Русские
            br
            | строители
          p Бесплатный
            br
            | замер
    +e.col_tpl-1
      +e.box_tpl-2
        +e.A.gl(href="/images/about-9.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-9.png' alt='')
      +e.box_tpl-2
        +e.A.gl(href="/images/about-10.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-10.png' alt='')
      +e.box_tpl-1
        +e.A.gl(href="/images/about-11.png" data-fancybox='gallery')
          +e.IMG.pic(src='/images/about-11.png' alt='')
