include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/catalog/catalog
include ../../modules/hit/hit
include ../../modules/stepbuild/stepbuild
include ../../modules/stepwork/stepwork
include ../../modules/about/about
include ../../modules/review/review
include ../../modules/partners/partners
//- include ../../modules/vantage/vantage
//- include ../../modules/product/product
//- include ../../modules/brands/brands
//- include ../../modules/news/news
//- include ../../modules/contacts/contacts
//- include ../../modules/callback/callback
include ../../modules/footer/footer
